html,
body {
  background-color: #333;
}

.slides {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.full-width {
  width: 100%;
}

.item {
  width: 100%;
  height: 95vh;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.item img {
  filter: blur(3px) opacity(60%);
}

.gradient-bg {
  height: 100%;
  background-image: linear-gradient(#403B4A, #222123);
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

body {
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.paragraph {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
}

.paragraph-text {
  font-size: 18px;
  word-wrap: normal;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

body {
  font-family: "Lucida Grande";
}

h1 {
  color: #FFF;
}

h4 {
  color: #AAA;;
}

.lead {
  color: #AAA;
}

.outro {
  background-color: #000;
  color: #FFF;
  height: 13vh;
}

p {
  color: #AAA;
}

.profile--image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 24px 0% 12px 0%;
}

.logo--image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 24px 0% 12px 0%;
}


.member-group {
  width: auto;
  height: auto;
  color: #FFF;
  overflow: hidden;
  top: 50%;
}

.member {
  display: inline-block;
  vertical-align: top;
  margin: 10px 5% 24px 5%;
  position: relative;
  max-width: 350px;
  min-width: 330px;
  word-wrap: normal;
}

.member-info {
  width: auto;
  margin: 10px 2.5% 24px 2.5%;
}

member-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

member-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

member-body {
  font-size: 14px;
  font-family: 'Open Sans';
}

th, td {
  border-bottom: 1px solid #ddd;
}

.row {
  width: 100%;
  left: 0;
  right: 0;
}

.col-xs-12 {
  margin: auto;
  width: 98%;
}

.carousel-caption {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.carousel img {
  overflow: hidden;
  position: relative;
  margin: auto;
  display:inline-block;
  vertical-align:middle;
  width: auto;
  height: 100vh;
  min-width: 100%;
}

.carousel-caption p {
  top: 70;
  overflow: hidden;
  word-wrap: normal;
  color: white;
  font-size: 200%;
  width: 100%;
}

.carousel-body {
  height: 90px;
  line-height: 90px;
  text-align: center;
  vertical-align: bottom;
}
