html,
body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.1);
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.black {
  color: black !important; 
}

.bg-white {
  background-color: white !important;
  opacity: inherit;
  color: black !important;
  text-shadow: none;
}

.bg-inverse {
  background-color: black !important;
}

.bg-inverse-opacity {
  background-color: rgba(0, 0, 0, .4)
}

.bg-sfo {
  background: url(../img/sfo-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-ut {
  background: url(../img/ut-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rounded {
  border-radius: 30px;
  background: #000;
}

.rounded-opacity {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .4) !important;
}

p {
  color: #AAA;
}

h1 {
  color: black;
  font-weight: 100;
  font-size: 350%; 
  text-transform: uppercase; 
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

h3 {
  font-weight: 300;
}

h4 {
  color: #888;
}

button-text {
  color: black;
  font-weight: 300;
  font-size: 18px;
}

@media screen and (min-width: 767px) {
  .inner{
    padding: 5%;
  }
}

@media screen and (max-width: 767px) {
  .inner{
    padding: 1rem;
  }
}

.lead {
  color: #AAA;
}

.outro {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  height: 5vh;
  line-height: 5vh;
}

.full-width {
  width: 100%;
}

.item {
  width: 100%;
  height: 95vh;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.item img {
  filter: blur(3px) opacity(60%);
}

.gradient-bg {
  height: 100%;
  background-image: linear-gradient( #d9d9d9, gray);
  text-align: center;
  // text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.gradient-bg-inverse {
  height: 100%;
  background-image: linear-gradient(gray, #d9d9d9);
  text-align: center;
  // text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.gradient-bgr {
  height: 100%;
  background-image: linear-gradient(gray, #333);
  text-align: center;
  // text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.paragraph {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
}

.paragraph-text {
  font-size: 18px;
  word-wrap: normal;
  color: #FFF;
}
/* ---- member-group ---- */

.member-group {
  width: auto;
  height: auto;
  color: #FFF;
  overflow: hidden;
  top: 50%;
  margin-bottom: 0 !important
}

/* ---- member-image ---- */

.profile--image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
  margin: 36px 0% 36px 0%;
}

.logo--image {
  width: 256px;
  height: 256px;
  overflow: hidden;
  margin: 24px 0% 12px 0%;
}

.col-lg-4 img {
  height: 200px;
  max-height: 200px !important;
  max-width: 350px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .col-lg-4 img {
    max-width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .col-lg-4 img {
    max-width: 100%;
    height: auto;
    max-height: 100% !important;
  }
}

/* ---- member ---- */

.tools member-name{
  text-align: center;
}

.tools member-body {
  text-align: left !important;
}

.col-sm-12 {
  padding: 2rem;
}

.tools .col-sm-12 img {
  position: relative;
}

.member {
  display: inline-block;
  vertical-align: top;
  margin: 10px 5% 24px 5%;
  position: relative;
  max-width: 350px;
  min-width: 330px;
  word-wrap: normal;
  text-shadow: none;
}

.member-info {
  width: auto;
  margin: 12px 2.5% 24px 2.5%;
  color: inherit;
  text-align: left;
}

member-name {
  font-size: 24px;
  font-weight: bold;
}

.rounded {
  border-radius: 10px;
  background: #000;
}

member-header {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 1 !important;
}

member-body {
  font-size: 14px;
}

/* ---- footer ---- */

.no-footer {
  margin: 0px, 0%, 0px, 0%;
  padding: 0px;
}

/* ---- carousel ---- */

.carousel {
  opacity: 0;
  transition: opacity .5s ease;
}

.carousel-caption {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.carousel img {
  overflow: hidden;
  position: relative;
  margin: auto;
  display:inline-block;
  vertical-align:middle;
  width: auto;
  height: 100vh;
  min-width: 100%;
}

.carousel-caption p {
  top: 70;
  overflow: hidden;
  word-wrap: normal;
  color: white;
  width: auto;
  margin-top: 29%;
  color: white;
  text-shadow: 1px 2px 3px #666;
  font-size: 550%;
}

.carousel-body {
  height: 90px;
  line-height: 90px;
  text-align: center;
  vertical-align: bottom;
}

.carousel-item {
  width: 70%;
  left: 15%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carousel-control-prev:active {
  opacity: 1 !important;
}

.carousel-control-prev:focus {
  opacity: none !important;
}


/* Grid */

.grid-sizer,
.grid-item { width: 20%; }

.grid {
  width: 100%;
}

.grid-item {
  width: 33.333%;
  min-width: 350px;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1.0);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  transition: .5s ease;
}

.button:hover {
  background: rgba(0, 0, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
}

.button:active,
.button.is-checked {
  background-color: black;
  text-decoration: none;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  content: '';
  clear: both;
  margin-bottom: 30px;
}

/* ---- ui-group ---- */

.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}

/* ---- card ---- */

.card {
  margin: 0 auto;
  margin-bottom: 3rem;
  float: none;
  background: black;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.card-inverse {
  background-color: rgba(51, 51, 51, 1.0); 
  border-color: rgba(51, 51, 51, 1.0); 
  width: 20rem;
  color: white;
}

.card-list {
  background-color: rgba(51, 51, 51, 1.0); 
  border-color: rgba(51, 51, 51, 1.0);
  color: white;
}

.card-grid:hover {
  background-color: rgba(51, 51, 51, 1);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
}

.card-title {
  margin-bottom: 0;
}

.list-group-item {
  text-align: center;
  background-color: #333; 
  border-color: #333; 
  color: #FFF;
  display: block;
}

.card-animation:hover .cover-heading {
  margin-top: 0px !important;
  padding-top: 125px !important;
  padding-bottom: 75px !important;
}

.card-animation:hover .carousel {
  opacity: 1;
}

.card-inverse img {
  max-width: 320px; 
  min-height: 100px !important;
  height: 100px !important;
}

.btn {
  border: none;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 1.0);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  transition: .5s ease;
  height: 40px;
}

.btn:hover {
  background: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
}

.btn:active {
  background-color: black;
  text-decoration: none;
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.results-image img {
  max-width: 200px;
}

/* ---- pagination ---- */

.pag-container {
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 0.2rem;
  counter-reset: pagination;
  text-align: center;
}
.pag-container:after {
  clear: both;
  content: "";
  display: table;
}

.pag-container ul {
  width: 100%;
}

.pag-container li a{
  border: none;
  border-radius: 2px;
  background: rgba(0, 0, 0, .4);
  color: rgba(255, 255, 255, 1.0);
}

.pag-container ul, li {
  list-style: none;
  display: inline;
  padding-left: 0px;
}

.pag-container li:hover a {
  background: rgba(0, 0, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
}

.pag-container li.disabled:hover a {
  background: rgba(0, 0, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
}

.pag-container li.active a {
  background-color: black;
  text-decoration: none;
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.pag-container li:first-child {
  float: left;
}

.pag-container li:first-child a:after {
  content: " Previous";
}

.pag-container li:last-child {
  float: right;
}

.pag-container li:last-child a:before {
  content: "Next ";
}

.pag-container li a {
  border-radius: 0.2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}

.pag-container li.disabled {
  color: white;
}


@media screen and (max-width: 767px) {
  .pag-container li {
    display: none;
  }
  
  .pag-container li.active {
    display: inline;
  }
  
  .pag-container li:first-child {
    display: inline;
  }

  .pag-container li:first-child a:after {
    content: " Prev";
  }

  .pag-container li:last-child {
    display: inline;
  }

  .pag-container li:last-child a:before {
    content: "Next ";
  }
}


/* ---- tabs ---- */

/* Style the tab */
div.tab {
    overflow: hidden;
    background: rgba(0, 0, 0, .4);
}

/* Style the buttons inside the tab */
div.tab button {
    background: rgba(0, 0, 0, 0);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: black;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}


/* ---- visualization ---- */

.axis text {
  font: 10px sans-serif;
}

.x .tick text{
  font-size: 4px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

.bar:hover {
  fill: dodgerblue;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
 
.bubbleChart {
  min-width: 100px;
  max-width: 700px;
  height: 700px;
  margin: 0 auto;
}       


/* ---- search bar ---- */

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}
