html,
body {
  background-color: #333;
}

body {
  font-family: "Lucida Grande";
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

p {
  color: #AAA;
}

h1 {
  color: #FFF;
}

h4 {
  color: #AAA;;
}

@media screen and (min-width: 767px) {
  .inner{
    padding: 5%;
  }
}

@media screen and (max-width: 767px) {
  .inner{
    padding: 1rem;
  }
}

.lead {
  color: #AAA;
}

.outro {
  background-color: #000;
  color: #FFF;
  height: 13vh;
}

.full-width {
  width: 100%;
}

.item {
  width: 100%;
  height: 95vh;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.item img {
  filter: blur(3px) opacity(60%);
}

.gradient-bg {
  height: 100%;
  background-image: linear-gradient(#403B4A, #222123);
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.paragraph {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
}

.paragraph-text {
  font-size: 18px;
  word-wrap: normal;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}
/* ---- member-group ---- */

.member-group {
  width: auto;
  height: auto;
  color: #FFF;
  overflow: hidden;
  top: 50%;
}

/* ---- member-image ---- */

.profile--image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 24px 0% 12px 0%;
}

.logo--image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 24px 0% 12px 0%;
}

/* ---- member ---- */

.member {
  display: inline-block;
  vertical-align: top;
  margin: 10px 5% 24px 5%;
  position: relative;
  max-width: 350px;
  min-width: 330px;
  word-wrap: normal;
}

.member-info {
  width: auto;
  margin: 10px 2.5% 24px 2.5%;
}

member-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

member-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

member-body {
  font-size: 14px;
  font-family: 'Open Sans';
}

/* ---- footer ---- */

.no-footer {
  margin: 0px, 0%, 0px, 0%;
  padding: 0px;
}

/* ---- carousel ---- */

.carousel-caption {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.carousel img {
  overflow: hidden;
  position: relative;
  margin: auto;
  display:inline-block;
  vertical-align:middle;
  width: auto;
  height: 100vh;
  min-width: 100%;
}

.carousel-caption p {
  top: 70;
  overflow: hidden;
  word-wrap: normal;
  color: white;
  font-size: 200%;
  width: 100%;
}

.carousel-body {
  height: 90px;
  line-height: 90px;
  text-align: center;
  vertical-align: bottom;
}

/* Grid */

.grid-sizer,
.grid-item { width: 20%; }

.grid {
  width: 100%;
  text-align:center;

}

.grid-item {
  width: 33.333%;
  min-width: 350px;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  content: '';
  clear: both;
  margin-bottom: 30px;
}

/* ---- ui-group ---- */

.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}

/* ---- card ---- */

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-title {
  margin-bottom: 0;
}

.list-group-item {
  text-align: center;
  background-color: #333; 
  border-color: #333; 
  color: #FFF;
  display: block;
}