<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SWEatshop.tech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/styles.processed.css">
</head>

<body>
  
  <!--div id="app"></div-->
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img alt="Brand" src="http://vishnut.me/assets/external/logo.png" style="width: 200px;"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="companies.html">Companies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="people.html">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="investors.html">Investors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="schools.html">Schools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="implementation.html">Implementation</a>
          </li>
        </ul>
      </div>
    </nav>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="height: 83vh;">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="../static/img/svc.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <p>Discover Great Companies</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../static/img/mafia.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <p>Discover Great People</p>
        </div>  
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../static/img/yc.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <p>Discover Great Investors</p>
        </div>  
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="../static/img/goals.jpg" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
          <p>Discover Great Schools</p>
        </div>  
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    
  <!--div id="home-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide slides" src="https://static.pexels.com/photos/34092/pexels-photo.jpg" alt="First slide">
        <div class="container carcont">
          <div class="carousel-caption">
            <h1>Discover Great Companies</h1>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="second-slide slides" src="https://static.pexels.com/photos/57825/pexels-photo-57825.jpeg" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <br/>
            <h1>Discover Great People</h1>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="third-slide slides" src="https://static.pexels.com/photos/24193/pexels-photo.jpg" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <br/>
            <h1>Discover Great Investors</h1>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div-->
  <script src="https://npmcdn.com/react@15.3.0/dist/react-with-addons.min.js"></script>
  <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js"></script>
  <script src="js/app.processed.js"></script>
</body>
<div class="outro">
    <br/>
    <p>© SWEatshop 2017</p>
    <br/>
</div>
</html>