<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SWEatshop.tech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/css/styles.processed.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html"><img alt="Brand" src="http://vishnut.me/assets/external/logo.png" style="width: 200px;"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="companies.html">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="people.html">People</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Investors<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="schools.html">Schools</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="gradient-bg" style="min-height:85vh"> 
    <div class="inner">
      <h1 class="cover-heading">Investors</h1>
      <br/><br/>
    <div class="container" style="color: white;">
      <div class="filters">
        <div class="ui-group">
          <h3>Country</h3>
          <div class="button-group js-radio-button-group" data-filter-group="country">
            <button class="button is-checked" data-filter="">Any</button>
            <button class="button" data-filter=".usa">USA</button>
            <button class="button" data-filter=".canada">Canada</button>
          </div>
        </div>
      </div>
      <div class="ui-group">
        <h3>Sort By</h3>
        <div class="button-group sort-by-button-group">
          <button class="button is-checked" data-sort-value="name" >Name</button>
          <button class="button" data-sort-value="funding" >Funding</button>
        </div>
      </div>
      <div class="grid small">
        <a href="http://sweatshop.tech/investor/2">  
        <div class="grid-item usa" funding='3748000' name='Pelion Venture Partners'>
          <div class="card card-inverse" style="background-color: #333; border-color: #333; width: 20rem;">
            <div style="background: #FFF; width: 100%">
              <img class="card-img-top" src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,h_140,w_140/v1397179667/c01cda23b1c8153e87bc37b324ec5fec.jpg" alt="Card image cap">
            </div>
            <div class="card-block">
              <h4 class="card-title name">{{investors[0].name}}</h4>
              <div class="list-group-item">
                Formerly UV Partners Since 1986, Pelion Venture Partners has been helping entrepreneurs turn early-stage concepts into tomorrow.
              </div>
              <a href="#" class="btn btn-primary">More Information</a>
            </div>
            <ul class="list-group list-group-flush;"><a href="http://pelionvp.com">
                <li class="list-group-item funding" style="background-color: #333; border-color: #333;">http://pelionvp.com</li>
              </a>
              <li class="list-group-item funding" style="background-color: #333; border-color: #333;">Funding: $3,748,000</li>
              <li class="list-group-item" style="background-color: #333; border-color: #333;">Country: USA</li>
            </ul>
          </div>
        </div>
        </a>
        <a href="http://sweatshop.tech/investor/1">  
        <div class="grid-item usa" funding='5784850' name='Geekdom Fund'>
            <div class="card card-inverse" style="background-color: #333; border-color: #333; width: 20rem;">
            <div style="background: #FFF; width: 100%">
              <img class="card-img-top" src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,h_140,w_140/v1407349059/czbs2zk9z5kz5dyvfbny.jpg" alt="Card image cap">
            </div>
            <div class="card-block">
              <h4 class="card-title name">{{investors[1].name}}</h4>
              <div class="list-group-item">
                The Geekdom Fund is a venture capital fund that invests in early stage IT startups in San Antonio, South Texas and beyond.
              </div>
              <a href="#" class="btn btn-primary">More Information</a>
            </div>
            <ul class="list-group list-group-flush;">
              <a href="http://geekdomfund.com/">
                <li class="list-group-item funding" style="background-color: #333; border-color: #333;">http://geekdomfund.com/</li>
              </a>
              <li class="list-group-item funding" style="background-color: #333; border-color: #333;">Funding: $5,784,850</li>
              <li class="list-group-item" style="background-color: #333; border-color: #333;">Country: USA</li>
            </ul>
          </div>
        </div>
        </a>
        <a href="http://sweatshop.tech/investor/3"> 
        <div class="grid-item usa" funding='3749300' name='Scale Venture Partners'>
          <div class="card card-inverse" style="background-color: #333; border-color: #333; width: 20rem;">
            <div style="background: #FFF; width: 100%">
              <img class="card-img-top" src="https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,h_140,w_140/v1397178826/f7ab3ffe2646afa0014c27dd1c036891.gif" alt="Card image cap">
            </div>
            <div class="card-block">
              <h4 class="card-title name">{{investors[2].name}}</h4>
                <div class="list-group-item">
                  Scale Venture Partners is a VC firm that invests in enterprise technology companies with a focus on SaaS and cloud infrastructure.
                </div>
              <a href="#" class="btn btn-primary">More Information</a>
            </div>
            <ul class="list-group list-group-flush;">
              <a href="http://www.scalevp.com">
                <li class="list-group-item funding" style="background-color: #333; border-color: #333;">http://www.scalevp.com</li>
              </a>
              <li class="list-group-item funding" style="background-color: #333; border-color: #333;">Funding: $3,749,300</li>
              <li class="list-group-item" style="background-color: #333; border-color: #333;">Country: USA</li>
            </ul>
          </div>
        </div>
        </a>
      </div>
      <script>
      // init Isotope
      var $grid = $('.grid').isotope({
          itemSelector: '.grid-item',
          layoutMode: 'fitRows',
          masonry: {
            columnWidth: 100
          },
          getSortData: {
            name: '[name]',
            funding: '[funding] parseInt',
            size: '[size] parseInt'
          },
          sortBy: 'name'
      });
        
      // bind sort button click
      $('.sort-by-button-group').on( 'click', 'button', function() {
        var sortByValue = $(this).attr('data-sort-value');
        $grid.isotope({ sortBy: sortByValue });
      });
        
      // store filter for each group
      var filters = {};

      $('.filters').on( 'click', '.button', function() {
        var $this = $(this);
        // get group key
        var $buttonGroup = $this.parents('.button-group');
        var filterGroup = $buttonGroup.attr('data-filter-group');
        // set filter for group
        filters[ filterGroup ] = $this.attr('data-filter');
        // combine filters
        var filterValue = concatValues( filters );
        // set filter for Isotope
        $grid.isotope({ filter: filterValue });
      });

      // change is-checked class on buttons
      $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $( this ).addClass('is-checked');
        });
      });

      // flatten object by concatting values
      function concatValues( obj ) {
        var value = '';
        for ( var prop in obj ) {
          value += obj[ prop ];
        }
        return value;
      }
      </script>
      <div class="grid">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
      </div>
    </div>
  </div>
  </div>
  <div class="outro">
    <br/>
      <p>© SWEatshop 2017</p>
    <br/>
  </div>
</body>
</html>
