<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SWEatshop.tech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/styles.processed.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="../index.html"><img alt="Brand" src="http://vishnut.me/assets/external/logo.png" style="width: 200px;"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../companies.html">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../people.html">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../investors.html">Investors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../schools.html">Schools</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="gradient-bg">
    <div class="inner">
      <h1 class="cover-heading">{{school.name}}</h1>
      <br/><br/>
      <div class="card" style="background-color: #333; border-color: #333; color: #eee;">
        <div class="card-block">
          <div class="row">
            <div class="col-4">
              <img src="{{school.image_url}}" alt="School Logo" /></div>
            <div class="col-8" style="text-align: left;">
              <b>Size: </b> {{school.size}}<br/>
              <b>Location: </b>{{school.location}}<br/>
              <b>Notable Alumni: </b><a href="../../person/{{alum.idnum}}">{{alum.name}}</a><br/>
              <b>Investors: </b><a href="../../investor/{{investor.idnum}}">{{investor.name}}</a><br/>
              <b>Website: </b><a href="{{school.website}}" target="_blank">{{school.website}}</a><br/><br/>
              <b>Description:: </b>{{school.description}}<br/>
            </div>
          </div>
        </div>
      </div>
</br>
<div class="card" style="background-color: #333; border-color: #333; color: #eee;">
  <div class="card-block"><iframe src="//www.google.com/maps/embed/v1/place?q={{school.location}}&zoom=9&key=AIzaSyCWG2UDFO2LYEWx_dHDiLjeDBAYkeQ2vFc" width=100% height=300px>
  </iframe></div>
  </div>
    </div>
    <script src="https://npmcdn.com/react@15.3.0/dist/react-with-addons.min.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js"></script>
    <script src="js/app.processed.js"></script>
</body>
<div class="outro">
    <br/>
    <p>© SWEatshop 2017</p>
    <br/>
</div>
</html>
